
body {
    font-family: 'Source Sans Pro', sans-serif;
}

section {
    margin-bottom: 50px;
}

.content {
    padding: 0 50px;
}

.dark section {
    margin: 0;
}

.dark {
    background-color: #383838;
    color: #F0F0F0;
    margin-bottom: 50px;
    padding: 50px;
}

.dark:last-of-type {
    margin: 0;
}

h2 {
    margin-bottom: 30px;
}

h3 {
    font-weight: bold;
}

.semesters h2 {
    text-align: center;
}

.core-element {
    margin-bottom: 30px;
}

.read-more {
    display: none;
}

.read-more.visible {
    display: block;
}

.read-more-toggle {
    outline: none;
    border: none;
    background: transparent;
    color: #49AAC4;
    font-size: 16px;
    padding: 3px 0;
    transition: transform .2s;
}



.read-more-toggle:hover {
    transform: translateX(5px);
}

.read-more-toggle:after {
    content: '\2192';
    margin-left: 10px;
    display: inline-block;
}

.read-more-toggle-container {
    text-align: right;
}

.read-more-toggle.open:hover {
    transform: translateX(-5px);
}

.read-more-toggle.open:after {
    display: inline-block;
    transform: rotate(180deg);
}



/* v2 */

.container li {
    margin-bottom: 10px;
}

.navbar a {
    transition: all .2s;
}
