
body {
    font-family: 'Source Sans Pro', sans-serif;
}

section {
    margin-bottom: 50px;
}

.content {
    padding: 0 50px;
}

.dark section {
    margin: 0;
}

.dark {
    background-color: #383838;
    color: #F0F0F0;
    margin-bottom: 50px;
    padding: 50px 0;
}

.dark:last-of-type {
    margin: 0;
}

h2 {
    margin-bottom: 30px;
}

h3 {
    font-weight: bold;
}

.semesters h2 {
    text-align: center;
}

.core-element {
    margin-bottom: 30px;
}

.read-more {
    display: none;
}

.read-more.visible {
    display: block;
}

.read-more-toggle {
    outline: none;
    border: none;
    background: transparent;
    color: #49AAC4;
    font-size: 16px;
    padding: 3px 0;
    transition: transform .2s;
}



.read-more-toggle:hover {
    transform: translateX(5px);
}

.read-more-toggle:after {
    content: '\2192';
    margin-left: 10px;
    display: inline-block;
}

.read-more-toggle-container {
    text-align: right;
}

.read-more-toggle.open:hover {
    transform: translateX(-5px);
}

.read-more-toggle.open:after {
    display: inline-block;
    transform: rotate(180deg);
}



/* v2 */

.container li {
    margin-bottom: 10px;
}

.navbar a {
    transition: all .2s;
}

.container {
    position: relative;
}

.image-icon {
    height: 200px;
    position: absolute;
}

.image-icon.right {
    right: -250px;
}

.image-icon.left {
    left: -250px;
}

.semesters-image {
    display: block;
    margin: 50px auto 0 auto;
    max-width: 100%;
    padding: 0 15px;
}

.logo {
    max-width: 100%;
}

.tagline {
    margin: 0;
}

@media (max-width: 1330px) {
    .image-icon {
        height: 100px;
    }
    .image-icon.left {
        left: -70px;
    }
}

@media (max-width: 900px) {
    .image-icon {
        height: 50px;
    }
    .image-icon.left {
        left: -20px;
    }
}

@media (max-width: 800px) {
    .image-icon.left {
        left: 10px;
        top: -60px;
    }
}

@media (max-width: 560px) {
    .semesters-image {
        display: none;
    }
}
